@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "Kurd Sans";
  src:
    url("kurfishFont/rudawregular2.eot"), url("kurfishFont/rudawregular2.ttf"),
    url("kurfishFont/rudawregular2.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* This example swaps in the system font until the custom font loads */
  unicode-range: U+0600-06FF; /* Unicode Range - Define the Unicode range if applicable */
}

:root {
  font-family: "Exo", "Open Sans", sans-serif;
  --forcarooLightGreen: #00adae;
  --color-forcarooLightGreen-lightest: #00adae1a;
}

/* TEST THESE COLORS */
/* TestTEXT: '#878058', */
/* estBACKGROUND: '#fef5bf', */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.g-b-p {
  padding-inline: 2rem;
}

.hero-slider-content .hero-heading {
  background: linear-gradient(-45deg, #183614);
  color: var(--forcarooLightGreen);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 2px transparent;
  -moz-text-stroke: 2px transparent;
  -o-text-stroke: 2px transparent;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;
  margin: 0 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
}

.left-slider {
  background-image: url("./assets/left-slider.png");
}

@media screen and (max-width: 768px) {
  .left-slider {
    background-image: none;
  }
}

.watermark {
  position: absolute;
  top: -1.8rem;
  left: 0;
  height: 95px;
  display: flex;
  align-items: center;
  font-size: 66px;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  opacity: 0.08;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #000000;
}

@media (min-width: 1024px) {
  .watermark {
    font-size: 96px;
    line-height: 1;
  }
}

.popup-video-btn::before {
  border: 2px solid var(--forcarooLightGreen);
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.popup-video-btn::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: all 200ms;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.home-services,
.service-details {
  background-image: url("./assets/texture24.png");
}

.work-process-steps > div:nth-child(1) .work-process-details::after,
.work-process-steps > div:nth-child(2) .work-process-details::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transform: translate(150%, 130%);
}

.work-process-details .work-process-plan-number {
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-weight: 700;
  opacity: 0.2;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--forcarooLightGreen);
}

.work-process-details:hover .work-process-plan-number {
  opacity: 1;
  -webkit-text-fill-color: var(--forcarooLightGreen);
  transition: all 0.25s ease-in-out;
}

@media (min-width: 1024px) {
  .work-process-steps > div:nth-child(1) .work-process-details::after,
  .work-process-steps > div:nth-child(2) .work-process-details::after {
    display: block;
    width: 164px;
  }

  .work-process-steps > div:nth-child(1) .work-process-details::after {
    background-image: url("./assets/work-process-step-1.svg");
  }

  .work-process-steps > div:nth-child(2) .work-process-details::after {
    background-image: url("./assets/work-process-step-2.svg");
  }
}

@media (min-width: 1280px) {
  .work-process-steps > div:nth-child(1) .work-process-details::after,
  .work-process-steps > div:nth-child(2) .work-process-details::after {
    width: 212px;
  }
}

@media (min-width: 1536px) {
  .work-process-steps > div:nth-child(1) .work-process-details::after,
  .work-process-steps > div:nth-child(2) .work-process-details::after {
    left: 80px;
  }
}

.why-choose-us-icon::before {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 62px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  filter: blur(5px);
  opacity: 0;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.why-choose-us-icon-container:hover .why-choose-us-icon::before {
  opacity: 1;
}

.trusted-banner-content {
  background-color: var(--forcarooLightGreen);
  background-image: url("./assets/trusted-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-call-banner-content {
  background-color: var(--forcarooLightGreen);
  background-image: url("./assets/call-banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.trusted-partners {
  background-image: url("./assets/texture15.png");
}

footer {
  background-color: var(--color-forcarooLightGreen-lightest);
  background-image: url("./assets/qa10.png");
}

.banner-call-icon {
  animation: banner-cal-animation 2s ease-in-out infinite;
}

@keyframes banner-cal-animation {
  0% {
    transform: rotate(0deg);
  }

  20%,
  32%,
  44%,
  56%,
  68% {
    transform: rotate(0deg);
  }
  23%,
  35%,
  47%,
  59%,
  71% {
    transform: rotate(15deg);
  }
  26%,
  38%,
  50%,
  62%,
  74% {
    transform: rotate(0deg);
  }
  29%,
  41%,
  53%,
  65%,
  77% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(0deg);
  }
}

.trusted-partners .swiper-wrapper {
  align-items: center;
  transition-timing-function: linear;
}

.trusted-partners .swiper-slide {
  margin-right: 0 !important;
}

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  bottom: 16px !important;
}

.leaflet-popup-content {
  width: max-content !important;
  font-weight: 600;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #ffc80b !important;
  color: #000 !important;
}

.leaflet-popup-content-wrapper {
  padding-block: 1px !important;
  border-radius: 8px !important;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #000 !important;
}

.red-marker {
  filter: hue-rotate(143deg) saturate(200%) brightness(90%);
}
